body,
p,
ul,
ol,
dl,
dd,
dt,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
div,
img,
pre {
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style: none;
	font-family: Arail, "Microsoft Yahei";
}

a {
	text-decoration: none;
	color: #333;
}

.hot a{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}

/*******商城顶部盒子********/

#site-topbox {
	width: 100%;
	height: 40px;
	background: #333 none repeat scroll;
}

.topbox {
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}

/*******左边导航*********/
.topboxl {
	width: 515px;
	height: 40px;
	line-height: 40px;
	float: left;
}

.topboxl li {
	font-size: 12px;
	float: left;
}

.shul {
	font-size: 12px;
	color: #424242;
	margin: 0 0.5em;
}

.topboxl ul li a {
	color: #B0B0B0;
	text-decoration: none;
}

.topboxl li a:hover {
	color: #fff;
}
/********左边结束*********/
/******注册和登陆*******/
.topboxl2 {
	width: 711px;
	height: 40px;
	line-height: 40px;
	float: right;
}

.topboxl2 ul {
	width: 576px;
	height: 40px;
	float: left;
}

.topboxl2 li {
	font-size: 12px;
	float: right;
	margin: 0 3px;
}

.topboxl2 li a:hover {
	color: #fff;
}

.topboxl2 ul li a {
	color: #B0B0B0;
}

.shuw {
	font-size: 12px;
	color: #424242;
	margin: 0 0.5em;
	float: right;
}

/*******注册和登陆结束********/
/**********购物车**********/
.topboxl3 {
	width: 120px;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	float: right;
	text-align: center;
	background: #424242 none repeat scroll;
	margin-left: 15px;
	display: inline;
}

.topboxl3 a {
	display: block;
	width: 120px;
	height: 40px;
	color: #B0B0B0;
}

.topboxl3 a:hover {
	color: #ff6700;
	background: #fff;
}
/******购物车结束*******/
/***********顶部css结束**************/

/**************首页主导航***************/
#navigationbarbox {
	width: 100%;
	height: 100px;
	position: relative;
}

.navigation {
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top: 22px;
	margin-right: 5px;
}

/*********中间导航************/
#navigator {
	width: 850px;
	height: 88px;
	float: left;
	padding-top: 12px;
}

.navigationText {
	margin-left: 168px;
}

.firstfloor {
	font-size: 16px;
	float: left;
}

.firstfloor>a {
	padding: 27px 18px 39px;
	color: #333;
	display: block;
}

.firstfloor a:hover {
	color: #ff6700;
}

.secondfloor {
	width: 100%;
	height: 229px;
	position: absolute;
	left: 0;
	top: 100px;
	z-index: 99;
	display: none;
	border-top: 1px solid #E0E0E0;
	background: #fff;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.18);
}

.pulldownbox {
	width: 1226px;
	height: 201px;
	margin: 0 auto;
}

.pulldown {
	height: 201px;
	width: 1226px;
	font-size: 12px;
}

.pulldown li {
	width: 180px;
	padding: 35px 12px 0;
	float: left;
	text-align: center;
}

.pulldown-img {
	width: 160px;
	height: 110px;
	margin: 0 auto 16px;
}

.pulldown-img img {
	width: 160px;
	height: 110px;
}

.pulldown-brand {
	line-height: 20px;
	color: #333;
}

.pulldown li p {
	line-height: 20px;
	color: #ff6700;
}
/**********中间导航结束***********/

/****右边搜索****/
#searchbar {
	width: 296px;
	height: 50px;
	float: right;
	margin-top: 25px;
}

.search-form{
	position: relative;
	width: 296px;
	height: 50px;
	border: 1px solid #e0e0e0;
}

.search-form:hover{
	border-color: #b0b0b0;
	height: 50px;
}

.searchtext {
	width: 224px;
	height: 50px;
	border-style: none;
	padding: 0 10px;
	border-right: 1px solid #e0e0e0;
	outline: none;
}
.searchtext:hover{
	border-right-color: #b0b0b0;
}

.search-hot-words a{
	font-size: 12px;
	color: #757575;
	background: #eee;
	float: left;
	margin: 0 0.2em;
	padding: 0 5px;
	display: block;
	position: relative;
	top: -33px;
	right: -130px;
}
.search-hot-words a:hover {
	color: #fff;
	background: #ff6700;
}

.search-form .fa-search{
	position: absolute;
	top: 15px;
	right: 16px;
	font-size: 20px;
}
.searchbar-submit {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	width: 50px;
}

.searchbar-submit:hover {
	color: #ff6700;
}

.keyword-list{
	display: none;
	position: absolute;
	z-index: 30;
	width: 244px;
	border: 1px solid #ff6700;
	border-top: 0;
	background: #fff;
}
.keyword-list ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.keyword-list ul li a{
	position: relative;
	display: block;
	padding: 6px 20px;
	font-size: 12px;
	color: #424242;
}
.result{
	position: absolute;
	right: 15px;
	top: 6px;
	color: #b0b0b0;
}
/*****右边搜索结束*****/

/**************产品列表和背景图片转换****************/
#bannerbox{
	width: 100%;
	height: 1108px;
}
#banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}
/**背景图片**/
.backgroundpicture{
	width: 1226px;
	height: 460px;
	position: relative;
}
.backgroundpicture img {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
/************/
/*****左边产品列表*****/
.banner-left{
	width: 234px;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 20px 0;
}
.banner-left>li>a {
	position: relative;
	display: block;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	padding-left: 30px;
	line-height: 42px;
}
.banner-left>li>a>i {
	position: absolute;
	right: 20px;
	top: 12px;
	font-size: 18px;
	color: #b0b0b0;
}
.banner-left>li:hover {
	background: #ff6700;
}
.bannerleft-secondfloor {
	height: 458px;
	display: none;
	position: absolute;
	top: 0;
	left: 234px;
	border: 1px solid #e0e0e0;
	background: #FFFFFF;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.18);
}
.Custom-width1{
	width: 795px;
}
.Custom-width2{
	width: 530px;
}
.children-list{
	width: 265px;
	height: 458px;
	float: left;
	margin: 0;
	padding: 2px 0;
}
.star-goods{
	position: relative;
	width: 265px;
	height: 76px;
	float: left;
}
.picture-link{
	display: block;
	color: #333333;
	line-height: 40px;
	padding: 18px 20px;
}
.picture-link img{
	margin-right: 12px;
	vertical-align: middle;
}
.picture-link span{
	line-height: 40px;
	font-size: 14px;
}
.picture-link span:hover{
	color: #FF6700;
}
.purchase{
	position: absolute;
	top: 26px;
	right: 10px;
	width: 58px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	border: 1px solid #FF6700;
	color: #FF6700;
	cursor: pointer;
	text-align: center;
}
.purchase:hover{
	background: #FF6700;
	color: white;
}
/******************/
/*图片转换五个点的css*/
.banner-right{
	width: 100px;
	height: 10px;
	background: transparent;
	position: absolute;
	right: 35px;
	bottom: 25px;
}

.banner-right li {
	width: 6px;
	height: 6px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	float: left;
	margin-right: 10px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.banner-right li:hover {
	border: 2px solid rgba(0, 0, 0, 0.4);
	background: rgba(255, 255, 255, 0.4);
}
/******************/

/*图片转换左右点击css样式*/
.bannertpz{
	height: 69px;
	width: 41px;
	line-height: 69px;
	text-align: center;
	background: transparent url("../img/icon-slides.png") no-repeat scroll -84px 50%;
	position: absolute;
	left: 234px;
	top: 190px;
}

.bannertpz:hover{
	background-position: 0px 50%;
}

.bannertpy{
	height: 69px;
	width: 41px;
	line-height: 69px;
	text-align: center;
	background: transparent url("../img/icon-slides.png") no-repeat scroll -125px 50%;
	position: absolute;
	right: 0;
	top: 190px;
}

.bannertpy:hover{
	background-position: -42px 50%;
}
/*****************************/
/****************产品列表和背景图片转换结束*****************/

/******推荐列表******/
#recommend-box{
	width: 1229px;
	height: 634px;
	margin: 0 auto 0 62px;
}

#recommendbox{
	width: 100%;
	height: 170px;
	margin-top: 14px;
	margin-bottom: 26px;
}

/**左边推荐**/
.recommend1{
	width: 234px;
	height: 170px;
	background: #5f5750 none;
	float: left;
}

.sixIdentifying{
	width: 228px;
	height: 164px;
	padding: 3px 3px;
}

.identifying{
	height: 71px;
	width: 68px;
	margin: 0 2px 2px 2px;
	background: #5f5750;
	float: left;
	text-align: center;
}

.identifying a{
	display: block;
	overflow: hidden;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
	padding-top: 15px;
}

.identifying a:hover{
	color: #fff;
}

.identifying a i{
	display: block;
	font-size: 30px;
	margin-bottom: 4px;
}

/**竖线和横线**/
.mainstring{
	height: 66px;
	width: 1px;
	margin: 5px 2px;
	background: gray;
	float: left;		
}

.transverseline{
	width: 63px;
	height: 1px;
	margin: 1px 6px 4px;
	background: gray;
	float: left;
}
/**左边推荐结束**/
/**右边推荐picture**/
.recommend2{
	width: 316px;
	height: 170px;
	margin-left: 15px;
	float: left;
}
/**右边结束**/
/*******推荐列表结束********/

/*小米明星单品*/
#hot-saleProducts{
	width: 1226px;
	height: 438px;
	-moz-transform-origin: 0 auto;
}

.hot-saleHead{
	position: relative;
	width: 100%;
	height: 58px;
}

.mxdp{
	margin: 0;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
	float: left;
}

.single-control{
	position: absolute;
	top: 15px;
	right: 0;
}

.singleControl{
	display: inline-block;
	text-align: center;
	float: left;
	color: #757575;
	border: 1px solid #e0e0e0;
	padding: 3px 5px;
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	width: 24px;
}
.singleControl:hover{
	color: #FF6700;
}
/*.leftbrackets{
	float: right;
	width: 24px;
	height: 16px;
	padding: 3px 5px;
	border: 1px solid #e0e0e0;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	font-weight: bold;
	margin-top: 24px;
}

.rightbrackets{
	float: right;
	width: 24px;
	height: 16px;
	padding: 3px 5px;
	border: 1px solid #e0e0e0;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	font-weight: bold;
	margin-top: 24px;
}

.leftbrackets i{
	color: #757575;
	font-size: 16px;
}
.rightbrackets i{
	color: #757575;
	font-size: 16px;
}
.leftbrackets i:hover{
	color:#ff6700;
}
.rightbrackets i:hover{
	color:#ff6700;
}
*/
/*小米明星单品头部结束*/
/*产品css样式*/
.singleProduct-box{
	width: 1226px;
	height: 340px;
	padding-bottom: 40px;
}

.singleProductbox li{
	width: 234px;
	height: 300px;
	padding-top: 39px;
	border-top-width: 1px;
	border-top-style: solid;
	text-align: center;
	background: #fafafa;
}

.photo {
	width: 160px;
	height: 160px;
	margin-bottom: 20px;
}

.xiaomi-a{
	border-top-color: #FFAC13;
	float: left;
	margin-right: 14px;
}
.xiaomi-b{
	border-top-color: #83C44E;
	float: left;
	margin-right: 14px;
}
.xiaomi-c{
	border-top-color: #2196F3;
	float: left;
	margin-right: 14px;
}
.xiaomi-d{
	border-top-color: #E53935;
	float: left;
	margin-right: 14px;
}
.xiaomi-e{
	border-top-color: #00C0A5;
	margin-right: 0px;
	float: left;
}

.singleProductName{
	font-size: 14px;
	color: #212121;
	margin: 0 20px 2px;
}

.productPresentation{
	height: 18px;
	margin: 0px 20px 12px;
	font-size: 12px;
	color: #B0B0B0;
}

.productPrice{
	color: #ff6709;
	font-size: 14px;
}
/****小米明星单品结束****/
/*正式商店产品最外边框架*/
#shopbox{
	width: 100%;
	height: 4519px;
	background: #f5f5f5;
	padding-top: 60px;
}
#shop{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
/*******************/
    
   /*智能硬件*/
/*智能硬件头部*/
#IntelligentHardware{
	width: 100%;
	height: 686px;
	margin-bottom: 8px;
}
.IntelligentHardware-head{
	position: relative;
	width: 1226px;
	height: 58px;
}
.IntelligentHardware-head h2{
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
	float: left;
}
.rightCharacter{
	position: absolute;
	top: 0;
	right: 0;
}
.rightCharacter a{
	font-size: 16px;
	line-height: 58px;
	color: #424242;
}
.rightCharacter a:hover{
	color: #ff6700;
}
.rightCharacter a i{
	font-size: 18px;
}
/***********************************/

/*智能硬件商品部分*/
.IntelligentHardwarebox{
	width: 1240px;
	height: 628px;
	margin-left: -14px;
}
/*智能硬件左边图片*/
.IntelligentHardware-left{
	position: relative;
	width: 234px;
	height: 614px;
	float: left;
	background: #FFFFFF;
	margin: 0 0 14px 14px;
}
.IntelligentHardware-left:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
/****************/
/****智能硬件右边产品***/
.IntelligentHardware-right{
	width: 978px;
	height: 628px;
	float: left;
	margin-left: 14px;
}
.IntelligentHardware-products1{
	width: 992px;
	height: 300px;
	float: left;
	margin: 0 0 14px -14px;
}
.IntelligentHardware-products2{
	width: 992px;
	height: 300px;
	float: left;
	margin: 0 0 -14px -14px;
}
.IntelligentHardwareProducts{
	position: relative;
	width: 234px;
	height: 246px;
	background: #fff;
	float: left;
	margin: 0 0 14px 14px;
	padding: 34px 0 20px 0;
}
.IntelligentHardwareProducts:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.IntelligentHardwareProductsPicture{
	width: 150px;
	height: 150px;
	margin: 0 auto 18px;
}
.IntelligentHardwareProductsName{
	font-size: 14px;
	font-weight: 400;
	margin: 0 10px;
	text-align: center;
	color: #333;
}
.IntelligentHardwareProductsPrice{
	color: #ff6700;
	margin: 0 10px 10px;
	text-align: center;
}
.IntelligentHardwareProductsPrice span{
	font-size: 13px;
	color: #ff6700;
	text-align: center;
}
.IntelligentHardwarelast1{
	position: relative;
	width: 234px;
	height: 93px;
	float: left;
	background: #fff;
	margin: 0 0 14px 14px;
	padding-bottom: 50px;
}
.IntelligentHardwarelast1:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.IntelligentHardwarelast1Picture {
	position: absolute;
	width: 80px;
	height: 80px;
	right: 20px;
	top: 32px;
}
.IntelligentHardwarelast1Name{
	font-size: 14px;
	font-weight: 400;
	color: #333;
	margin: 40px 110px 5px 30px;
}
.IntelligentHardwarelast1Price{
	color: #ff6700;
	font-size: 12px;
	margin: 0 110px 0 30px;
}
.IntelligentHardwarelast1Price span{
	font-size: 13px;
	color: #ff6700;
}
.IntelligentHardwareProductEvaluation{
	color: #b0b0b0;
	font-size: 12px;
	margin: 0 10px;
	text-align: center;
}
.IntelligentHardwarelast2{
	position: relative;
	width: 234px;
	height: 93px;
	float: left;
	background: #fff;
	margin: 0 0 14px 14px;
	padding-bottom: 50px;
}
.IntelligentHardwarelast2:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.IntelligentHardwarelast2Picture{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 35px;
	top: 48px;
}
/*产品上面一些折扣，新品提示*/
.hint1{
	width: 64px;
	height: 20px;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	line-height: 20px;
	position: relative;
	top: -280px;
	left: 85px;
	background-color: #83c44e;
}
.hint2{
	width: 64px;
	height: 20px;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	line-height: 20px;
	position: relative;
	top: -280px;
	left: 85px;
	background-color: #ffac13;
}
.hint3{
	width: 64px;
	height: 20px;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	line-height: 20px;
	position: relative;
	top: -280px;
	left: 85px;
	background-color: #e53935;
}
/***************************/
/************智能硬件结束***********/

/**********商城搭配部分************/
#match{
	height: 686px;
	width: 100%;
	margin-bottom: 8px;
}
/******配件头部******/
.match-head{
	height: 58px;
	position: relative;
}
.match-head h2{
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
	float: left;
}
.match-rightCharacterbox{
	position: absolute;
	top: 0;
	right: 0;
}
.matchRight-Character{
	width: 296px;
	height: 26px;
	font-size: 16px;
	padding-top: 16px;
}
.matchRight-Character li{
	float: left;
	margin-left: 22px;
}
.matchRight-Character li:hover{
	color: #FF6700;
	border-bottom: 2px solid #FF6700;
}
/*****配件头部结束***/
.matchbox{
	width: 1240px;
	height: 628px;
	margin-left: -14px;
}
/*配件左边图片*/
.match-left{
	width: 234px;
	height: 100%;
	float: left;
	margin-left: 14px;
}
.left-picture{
	width: 248px;
	height: 614px;
	margin: 0 0 -14px -14px;
}
.leftpicture{
	width: 234px;
	height: 300px;
	margin: 0 0 14px 14px;
}
.leftpicture:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	transition: all 0.2s;   /*控制变换的时间*/
	margin-top: -2px;
}
/****************/
/****配件右边产品***/
.match-right{
	width: 978px;
	height: 628px;
	float: left;
	margin-left: 14px;
}
.match-products1{
	width: 992px;
	height: 300px;
	float: left;
	margin: 0 0 14px -14px;
}
.match-products2{
	width: 992px;
	height: 300px;
	float: left;
	margin: 0 0 -14px -14px;
}
.matchProducts{
	position: relative;
	width: 234px;
	height: 246px;
	background: #fff;
	float: left;
	margin: 0 0 14px 14px;
	padding: 34px 0 20px 0;
}
.matchProducts:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.matchProductsPicture{
	width: 150px;
	height: 150px;
	margin: 0 auto 18px;
}
.matchProductsName{
	font-size: 14px;
	font-weight: 400;
	margin: 0 10px;
	text-align: center;
	color: #333;
}
.matchProductsPrice{
	color: #ff6700;
	margin: 0 10px 10px;
	text-align: center;
}
.matchProductsPrice span{
	font-size: 13px;
	color: #ff6700;
	text-align: center;
}
.matchlast1{
	position: relative;
	width: 234px;
	height: 93px;
	float: left;
	background: #fff;
	margin: 0 0 14px 14px;
	padding-bottom: 50px;
}
.matchlast1:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.matchlast1Picture {
	position: absolute;
	width: 80px;
	height: 80px;
	right: 20px;
	top: 32px;
}
.matchlast1Name{
	font-size: 14px;
	font-weight: 400;
	color: #333;
	margin: 40px 110px 5px 30px;
}
.matchlast1Price{
	color: #ff6700;
	font-size: 12px;
	margin: 0 110px 0 30px;
}
.matchlast1Price span{
	font-size: 13px;
	color: #ff6700;
}
.matchProductEvaluation{
	color: #b0b0b0;
	font-size: 12px;
	margin: 0 10px;
	text-align: center;
}
.matchlast2{
	position: relative;
	width: 234px;
	height: 93px;
	float: left;
	background: #fff;
	margin: 0 0 14px 14px;
	padding-bottom: 50px;
}
.matchlast2:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.matchlast2Picture{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 35px;
	top: 48px;
}
.more{
	display: block;
	color: #333;
	font-size: 18px;
	margin: 40px 110px 0 30px;
}
.more small{
	display: block;
	font-size: 12px;
	color: #757575;
}
/****右边产品结束****/
/***智能硬件部分结束***/

/***配件部分开始***/
#parts{
	height: 686px;
	width: 100%;
	margin-bottom: 8px;
}
/******配件头部******/
.parts-head{
	height: 58px;
	position: relative;
}
.parts-head h2{
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
	float: left;
}
.parts-rightCharacterbox{
	position: absolute;
	top: 0;
	right: 0;
}
.partsRight-Character{
	width: 296px;
	height: 26px;
	font-size: 16px;
	padding-top: 16px;
}
.partsRight-Character li{
	float: left;
	margin-left: 30px;
}
.partsRight-Character li:hover{
	color: #FF6700;
	border-bottom: 2px solid #FF6700;
}
/*****配件头部结束***/
.partsbox{
	width: 1240px;
	height: 628px;
	margin-left: -14px;
}
/*配件左边图片*/
.parts-left{
	width: 234px;
	height: 100%;
	float: left;
	margin-left: 14px;
}
.left-picture{
	width: 248px;
	height: 614px;
	margin: 0 0 -14px -14px;
}
.leftpicture{
	width: 234px;
	height: 300px;
	margin: 0 0 14px 14px;
}
.leftpicture:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	transition: all 0.2s;   /*控制变换的时间*/
	margin-top: -2px;
}
/****************/
/****配件右边产品***/
.parts-right{
	width: 978px;
	height: 628px;
	float: left;
	margin-left: 14px;
}
.parts-products1{
	width: 992px;
	height: 300px;
	float: left;
	margin: 0 0 14px -14px;
}
.parts-products2{
	width: 992px;
	height: 300px;
	float: left;
	margin: 0 0 -14px -14px;
}
.partsProducts{
	position: relative;
	width: 234px;
	height: 246px;
	background: #fff;
	float: left;
	margin: 0 0 14px 14px;
	padding: 34px 0 20px 0;
}
.partsProducts:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.partsProductsPicture{
	width: 150px;
	height: 150px;
	margin: 0 auto 18px;
}
.partsProductsName{
	font-size: 14px;
	font-weight: 400;
	margin: 0 10px;
	text-align: center;
	color: #333;
}
.partsProductsPrice{
	color: #ff6700;
	margin: 0 10px 10px;
	text-align: center;
}
.partsProductsPrice span{
	font-size: 13px;
	color: #ff6700;
	text-align: center;
}
.partslast1{
	position: relative;
	width: 234px;
	height: 93px;
	float: left;
	background: #fff;
	margin: 0 0 14px 14px;
	padding-bottom: 50px;
}
.partslast1:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.partslast1Picture {
	position: absolute;
	width: 80px;
	height: 80px;
	right: 20px;
	top: 32px;
}
.partslast1Name{
	font-size: 14px;
	font-weight: 400;
	color: #333;
	margin: 40px 110px 5px 30px;
}
.partslast1Price{
	color: #ff6700;
	font-size: 12px;
	margin: 0 110px 0 30px;
}
.partslast1Price span{
	font-size: 13px;
	color: #ff6700;
}
.partsProductEvaluation{
	color: #b0b0b0;
	font-size: 12px;
	margin: 0 10px;
	text-align: center;
}
.partslast2{
	position: relative;
	width: 234px;
	height: 93px;
	float: left;
	background: #fff;
	margin: 0 0 14px 14px;
	padding-bottom: 50px;
}
.partslast2:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.partslast2Picture{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 35px;
	top: 48px;
}
/***配件部分结束***/


/******周边******/
#circum{
	height: 686px;
	width: 100%;
	margin-bottom: 8px;
}
/******周边头部******/
.circum-head{
	height: 58px;
	position: relative;
}
.circum-head h2{
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
	float: left;
}
.circum-rightCharacterbox{
	position: relative;
	top: 0;
	right: 0;
}
.circumRight-Character{
	width: 328px;
	height: 26px;
	float: right;
	padding-top: 16px;
}
.circumRight-Character li{
	float: left;
	margin-left: 27px;
}
.circumRight-Character li:hover{
	color: #FF6700;
	border-bottom: 2px solid #FF6700;
}
/*****周边头部结束***/
.circumbox{
	width: 1240px;
	height: 628px;
	margin-left: -14px;
}
/*周边左边图片*/
.circum-left{
	width: 234px;
	height: 100%;
	float: left;
	margin-left: 14px;
}
/****************/
/****周边右边产品***/
.circum-right{
	width: 978px;
	height: 628px;
	float: left;
	margin-left: 14px;
}
.circum-products1{
	width: 992px;
	height: 300px;
	float: left;
	margin: 0 0 14px -14px;
}
.circum-products2{
	width: 992px;
	height: 300px;
	float: left;
	margin: 0 0 -14px -14px;
}
.circumProducts{
	position: relative;
	width: 234px;
	height: 246px;
	background: #fff;
	float: left;
	margin: 0 0 14px 14px;
	padding: 34px 0 20px 0;
}
.circumProducts:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.circumProductsPicture{
	width: 150px;
	height: 150px;
	margin: 0 auto 18px;
}
.circumProductsName{
	font-size: 14px;
	font-weight: 400;
	margin: 0 10px;
	text-align: center;
	color: #333;
}
.circumProductsPrice{
	color: #ff6700;
	margin: 0 10px 10px;
	text-align: center;
}
.circumProductsPrice span{
	font-size: 13px;
	color: #ff6700;
	text-align: center;
}
.circumlast1{
	position: relative;
	width: 234px;
	height: 93px;
	float: left;
	background: #fff;
	margin: 0 0 14px 14px;
	padding-bottom: 50px;
}
.circumlast1:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.circumlast1Picture {
	position: absolute;
	width: 80px;
	height: 80px;
	right: 20px;
	top: 32px;
}
.circumlast1Name{
	font-size: 14px;
	font-weight: 400;
	color: #333;
	margin: 40px 110px 5px 30px;
}
.circumlast1Price{
	color: #ff6700;
	font-size: 12px;
	margin: 0 110px 0 30px;
}
.circumlast1Price span{
	font-size: 13px;
	color: #ff6700;
}
.circumlast2{
	position: relative;
	width: 234px;
	height: 93px;
	float: left;
	background: #fff;
	margin: 0 0 14px 14px;
	padding-bottom: 50px;
}
.circumlast2:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.circumlast2Picture{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 35px;
	top: 48px;
}
/****************/
/*******周边结束********/

/*******为你推荐********/
/*********头部**********/
#recommend{
	width: 100%;
	height: 358px;
	margin-bottom: 22px;
	
}
.recommend-head{
	position: relative;
	width: 1226px;
	height: 58px;
}
.recommend-head h2{
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	float: left;
}
.recommend-control{
	position: absolute;
	top: 15px;
	right: 0;
}
.recommendcontrol{
	display: inline-block;
	text-align: center;
	float: left;
	color: #757575;
	border: 1px solid #e0e0e0;
	padding: 3px 5px;
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	width: 24px;
}
.recommendcontrol:hover{
	color: #ff6700;
}
/*********头部结束**********/
/********商品********/
.recommend-contents{
	position: relative;
	width: 1226px;
	height: 320px;
	overflow: hidden;
}
.recommend-products{
	width: 4960px;
	height: 314px;
}
.recommendProducts{
	position: relative;
	text-align: center;
	float: left;
	width: 234px;
	height: 300px;
	margin: 0 14px 14px 0;
	background: #fff;
}
.recommendProducts:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.recommendProducts dl{
	padding: 0 20px;
	margin-bottom: 0;
}
.recommendProducts dl dt{
	padding: 40px 0 15px;
}	
.recommendProductsName{
	font-size: 13px;
	height: 18px;
	margin-bottom: 10px;
}
.recommendProductsPrice{
	font-size: 13px;
	color: #ff6700;
	margin-bottom: 10px;
}
.recommendProductsEvaluation{
	font-size: 14px;
	color: #757575;
}
/*******商品结束*********/
/*******为你推荐结束*****/

/*******热评产品********/
#Hotcomment{
	width: 100%;
	height: 473px;
	margin-bottom: 22px;
}
.Hotcomment-head{
	position: relative;
	height: 58px;
}
.Hotcomment-head h2{
	font-size: 22px;
	color: #333;
	font-weight: 200;
	line-height: 58px;
}
.Hotcomment-contents .Hotcomment-products{
	width: 1240px;
	height: 415px;
}
.HotcommentProduct1{
	position: relative;
	width: 296px;
	height: 415px;
	margin-bottom: 14px;
	float: left;
	background: #fff;
}
.HotcommentProduct2{
	position: relative;
	width: 296px;
	height: 415px;
	margin: 0 0 14px 14px;
	float: left;
	background: #fff;
}
.HotcommentProductsPicture{
	width: 296px;
	height: 220px;
	margin-bottom: 26px;
}
.HotcommentProductsEvaluation{
	height: 72px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #333;
	margin: 0 22px 22px 28px;
	overflow: hidden;
}
.EvaluationAuthor{
	font-size: 12px;
	height: 18px;
	color: #b0b0b0;
	margin: 0 28px 8px 28px;
	padding-right: 10px;
}
.info{
	margin: 0 30px 0 30px;
}
.info h3{
	display: inline-block;
	color: #333;
	font-size: 14px;
	font-weight: 400;
}
.info span{
	color: #e0e0e0;
	margin: 0 3px 0 3px;
}
.info p{
	font-size: 13px;
	display: inline;
	color: #FF6700;
}
/********热评产品结束********/


/*****内容开始*****/
#content{
	width: 100%;
	height: 478px;
	margin-bottom: 22px;
}
.content-head{
	position: relative;
	width: 1226px;
	height: 58px;
}
.content-head h2{
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
}
.content-container .content-products{
	width: 1240px;
	height: 420px;
}
.contentProduct1{
	position: relative;
	text-align: center;
	width: 296px;
	height: 374px;
	float: left;
	background: #FFFFFF;
	margin-bottom: 14px;
	padding-top: 45px;
	border-top: 1px solid #FFAC13;
}
.contentProduct2{
	position: relative;
	text-align: center;
	width: 296px;
	height: 374px;
	float: left;
	background: #FFFFFF;
	margin-bottom: 14px;
	margin-left: 14px;
	padding-top: 45px;
	border-top: 1px solid #83C44E;
}
.contentProductName1{
	font-size: 16px;
	font-weight: 400;
	color: #FFAC13;
	margin: 0 10px 18px 10px;
}
.contentProductName2{
	font-size: 20px;
	font-weight: 400;
	line-height: 1.25;
	margin: 0 20px 5px 20px;
}
.contentProductDESC{
	font-size: 12px;
	height: 40px;
	line-height: 20px;
	margin: 0 48px 10px 48px;
}
.contentProductDESC a{
	color: #B0B0B0;
}
.contentProduct1 .contentProductPrice{
	font-size: 13px;
	height: 21px;
	margin: 0 10px 15px 10px;
}
/*****内容结束*****/


/*****视频*******/
#video{
	width: 100%;
	height: 343px;
	margin-bottom: 60px;
}
/*视频头部*/
.video-head{
	position: relative;
	width: 1226px;
	height: 58px;
}
.video-head h2{
	font-size: 22px;
	color: #333;
	font-weight: 200;
	line-height: 58px;
}
.video-rightcharacter{
	position: absolute;
	top: 0;
	right: 0;
}
.video-rightcharacter a{
	color: #424242;
	font-size: 16px;
	line-height: 58px;
	right: 35px;
}
.video-rightcharacter a:hover{
	color: #FF6700;
}
.video-rightcharacter a i{
	font-size: 18px;
}
.video-contents .video-products{
	width: 1240px;
	height: 285px;
}
.video-products li:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	transition: all 0.2s;
	margin-top: -2px;
}
.videoProduct1{
	position: relative;
	text-align: center;
	width: 296px;
	height: 285px;
	margin-bottom: 14px;
	float: left;
	background: #fff;
}
.videoProduct2{
	position: relative;
	text-align: center;
	width: 296px;
	height: 285px;
	margin-left: 14px;
	margin-bottom: 14px;
	float: left;
	background: #fff;
}
.videoProductPicture{
	position: relative;
	width: 296px;
	height: 180px;
	margin-bottom: 28px;
}
.videoProductPicture a i{
	position: absolute;
	bottom: 10px;
	left: 20px;
	font-size: 30px;
	color: #FFFFFF;
}
.videoProductPicture a i:hover{
	color: #FF6700;
}
.videoProductTitle{
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 6px;
}
.videoProductTitle a:hover{
	color: #FF6700;
}
.videoProductDesc{
	font-size: 12px;
	color: #B0B0B0;
	height: 18px;
}
/******视频结束******/


/*******小米商城底部********/
#footer{
	width: 100%;
	height: 272px;
}
.footer-container{
	width: 1226px;
	height: 272px;
	margin: auto;
}
.footer-service{
	border-bottom: 1px solid #E0E0E0;
	height: 25px;
	padding: 27px 0;
}
.list-service li{
	text-align: center;
	border-right: 1px solid #B0B0B0;
	float: left;
	width: 243px;
	font-size: 17px;
	height: 25px;
	line-height: 25px;
}
.list-service li:last-child{
	text-align: center;
	border-right: 0 none;
	float: left;
	width: 243px;
	height: 25px;
	line-height: 25px;
}
.list-service i{
	line-height: 25px;
	margin-right: 5px;
}
.list-service li a{
	color: #757575;
}
.list-service li a:hover{
	color: #FF6700;
}
.footer-links{
	height: 112px;
	padding: 40px 0;
}
.footer-links dl{
	width: 160px;
	height: 112px;
	float: left;
}
.footer-links dl dt{
	font-size: 14px;
	color: #424242;
	line-height: 1.25;
	margin: 0 0 26px 0;
}
.footer-links dl dd{
	font-size: 12px;
	margin: 10px 0;
}
.footer-links dl dd a{
	color: #757575;
}
.footer-contact{
	text-align: center;
	width: 251px;
	height: 112px;
	float: right;
	color: #616161;
	border-left: 1px solid #E0E0E0;
}
.footer-contact .phonenumber{
	color: #FF6700;
	font-size: 22px;
	line-height: 1;
	margin-bottom: 5px;
}
.footer-contact p{
	font-size: 12px;
	margin-bottom: 16px;
}
.footer-contact a{
	width: 118px;
	height: 28px;
	color: #FF6700;
	font-size: 14px;
	line-height: 28px;
	border: 1px solid #FF6700;
	padding: 5px;
}
.footer-contact a:hover{
	color: #FFFFFF;
	background: #FF6700;
}
/*******小米商城底部结束*********/
/******小米商城最后部分******/
#XMlast{
	width: 100%;
	height: 106px;
	background: #FAFAFA;
	font-size: 12px;
	padding: 30px 0;
}
.XMlast-contents{
	width: 1226px;
	height: 57px;
	margin: auto;
}
.XMlast-logo{
	float: left;
	width: 57px;
	height: 57px;
	margin-right: 10px;
}
.XMlast-text{
	float: left;
}
.XMlast-text a{
	color: #757575;
}
.XMlast-text a:hover{
	color: #FF6700;
}
.creditGuarantee{
	height: 28px;
	float: right;
}
.creditGuarantee a img{
	height: 28px;
	width: auto;
	margin-left: 7px;
}
.Tenet{
	font-family: kaiti;
	color: #757575;
	font-size: 25px;
	font-weight: 200;
	margin-left: 510px;
}
/*******小米商城最后结束********/